:root {
  --colore-scocca: #474762;
  --colore-pulsanti: #d0d2d4;
  --colore-schermo: #a1c1b2;
}
body {
  text-align: center;
  margin: 20px;
}
.indistruttibile {
  background-color: #2f2f41;
}
.telefono {
  background-color: var(--colore-scocca);
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 20px;
  width: 500px;
  height: 900px;
  margin: auto;
}

.schermo {
  background-color: var(--colore-schermo);
  border: 1px solid #000;
  height: 300px;
  width: 420px;
  margin-bottom: 10px auto 10px;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  background-size: contain;
}

.tastiera {
  padding: 70px;
  height: 450px;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}
.tastiera button {
  background-color: var(--colore-pulsanti);
  border-radius: 45%;
  width: 100px;
  height: 50px;
}

#schermo {
  font-size: 2rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.678);
}
